<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="about__image">
      <img src="/images/profile.jpg" alt="">

      {% include component-socials.html %}
    </div>

    <div class="about__content">
      <h2 class="title">UX Designer and Adjunct Professor</h2>
      <p class="subtitle subtitle--light">I create strategy and user experiences for companies of all sizes.
      </p>

      <p>I love making things. As a kid, I wanted to be a lot of things -- an inventor, an architect and (at one point) an English Professor.

        I've focused my career on delivering "stuff" that works for your entire user base, through inclusive design and in-depth research. I build immersive and usable experiences across traditional and emerging technologies, through responsive design, working prototypes, wearables, AR/VR and whatever comes next.</p> 
        
        <p>If you’re looking for a strategic partner for design, you want to talk tech, or you just want to grab a coffee, feel free to reach out! </p>

      <a href="#" class="cta button--fill contact-trigger js-contact">Get in Touch</a>
    </div>
  </div>
</section>